@font-face {
    font-family: AgencyFB;
    src: url(AgencyFB-Bold.ttf);
}
@font-face {
    font-family: Corbel;
    src: url(CORBEL.TTF);
}

@font-face {
    font-family: ErasDemiitc;
    src: url(Eras\ Demi\ ITC.ttf);
}

@font-face {
    font-family: Calibri;
    src: url(calibri-regular.ttf);
}

.controls{
    font-family: Calibri;
}

.barramenu #personal ul li{
    font-family: AgencyFB;
}

.barramenu ul li{
    font-family: AgencyFB;
}

#noti{
    font-family: Corbel;
}

.news{
    font-family: ErasDemiitc;
}

.dododo{
    font-family: ErasDemiitc;
}

